<div class="aboutHeader">
	<div class="headLogo">
		<img src="{{ 'test.png' | asset_url }}" alt=""/>
	</div>
	<div class="headMore">
		<span>Learn more about sleepclean.</span>
		<div class="headMore-icon">

		</div>
	</div>
</div>

<div class="aboutSection odd">
	<div class="about-sectionHeader">
		<span class="moduletitlenew sans sansBold newletterspacing">HOW IT WORKS</span>
	</div>
	<div class="aboutSection-image">
		<img src="{{ 'test.png' | asset_url }}" alt=""/>
	</div>
	<div class="aboutSection-body">
		<span>Each SleepClean Pillowcase is manufactured with specially treated Silver Ions to inhibit the growth of acne-causing bacteria. We know that you work tirelessly to cleanse your face before bed—only to lay onto a pillowcase that is accumulating dead skin debris and bacteria. When these microorganisms penetrate the skin, they clog pores and contribute to pimples and breakouts. SleepClean Pillowcase completes the skincare regimen, and when used nightly, can reduce acne and maintain clear skin.</span>
	</div>
</div>

<div class="aboutSection even">
	<div class="about-sectionHeader">
		<span class="moduletitlenew sans sansBold newletterspacing">SILVER ION TECHNOLOGY</span>
	</div>
	<div class="aboutSection-image">
		<img src="{{ 'test.png' | asset_url }}" alt=""/>
	</div>
	<div class="aboutSection-body">
		<span>Silver Ion Technology has been time tested and proven effective. Silver Ions break through the bacteria cell wall, disrupt respiration, and stop reproduction. Simply put, the bacteria is destroyed as soon as it comes in contact with silver ions.</span>
	</div>
</div>

<div class="aboutSection odd">
	<div class="about-sectionHeader">
		<span class="moduletitlenew sans sansBold newletterspacing">SAFE AND EFFECTIVE</span>
	</div>
	<div class="aboutSection-image">
		<img src="{{ 'test.png' | asset_url }}" alt=""/>
	</div>
	<div class="aboutSection-body">
		<span>SleepClean is a method to treat your acne without interfering with your current skin regimen. The SleepClean Pillowcase is Hypoallergenic, non-toxic, non-sensitizing, and non-irritating. The Silver Ion technology within the SleepClean Pillowcase will never transfer from the pillowcase, and will not interfere with any of your current skin care products.</span>
	</div>
</div>

<div class="aboutSection even">
	<div class="about-sectionHeader">
		<span class="moduletitlenew sans sansBold newletterspacing">LONG LASTING</span>
	</div>
	<div class="aboutSection-image">
		<img src="{{ 'test.png' | asset_url }}" alt=""/>
	</div>
	<div class="aboutSection-body">
		<span>• SleepClean Pillowcases undergo vigorous testing to guarantee long lasting protection against bacteria. SleepClean is guaranteed effective beyond 50 home launderings or one full year after purchase.</span><br /><br /><span>• We recommend changing your pillowcase annually. After one year, send your pillowcase back, and receive 10% off your next purchase.</span>
	</div>
</div>

<div class="aboutSection odd">
	<div class="about-sectionHeader">
		<span class="moduletitlenew sans sansBold newletterspacing">COMFORT</span>
	</div>
	<div class="aboutSection-image">
		<img src="{{ 'test.png' | asset_url }}" alt=""/>
	</div>
	<div class="aboutSection-body">
		<span>Silver Ion technology within the SleepClean Pillowcase does not affect the look, feel or finish of the fabric. The case is soft, comfortable, and non-irritating. (300 Thread count, 100% cotton)</span>
	</div>
</div>

<div class="aboutSection even">
	<div class="about-sectionHeader">
		<span class="moduletitlenew sans sansBold newletterspacing">CARE INSTRUCTIONS</span>
	</div>
	<div class="aboutSection-image">
		<img src="{{ 'test.png' | asset_url }}" alt=""/>
	</div>
	<div class="aboutSection-body">
		<span>SleepClean Pillowcases are safe for your washer and dryer at home. They can be incorporated into your normal laundry, and should be washed every 7-10 days.</span>
	</div>
</div>